.page{ 
    background-color: rgb(78, 2, 2);
}

.filterBar{ 
    color: #354f52;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #feeafa;
    padding-bottom: 5%;
    padding-top: 2%;
    input[type="radio"]{ 
        margin-left: 20px;
        cursor: pointer;
       
    }
    ::placeholder{ 
        color: rgb(192, 187, 181);
    }
}