

.beerCont{ 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #f6bd60;
    margin: 0;
    width: 90%;
    height: 100%;
    align-items: center;
    align-content: center;
    color: #354f52;
    font-weight: 600;
    img{ 
        width: 5vw;
        height: 30vh;
        
    }
    p{ 
        z-index: 1;
        margin: 10%;
        font-size: 15px;
    }
}
.beersDisplay{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2%;
    justify-content: space-evenly;
    background-color: #f7ede2;
}